.topnav {
    display: flex;
    justify-content: space-between;
    position: fixed;
    table-layout: fixed;
    top: 0;
    width: 100%;
    border-collapse: separate;
    background-color: none;
    clear: both;
    content: "";
}

.bottomnav {
    display: table;
    clear: both;
    content: "";
    justify-content: space-between;
    position: fixed;
    table-layout: fixed;
    bottom: 0;
    width: 100%;
    border-collapse: separate;
    background-color: #e9e5e5;
}

.bottomleftnav {
    float: left;
}

.bottomrightnav {
    float: right;
}

a {
    text-decoration: none;
    color: #a09e9e;
}
a:visited {
    color: #a09e9e;
}

.search {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    margin-bottom: auto;

}
textarea {
    margin-left: auto;
    margin-right: auto;
}

li {
    display: inline;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

button {
    padding: 5px;
    margin: 2px;
}

